.header ul{
    display:flex;
    justify-content:flex-end; 
    list-style: none;  
    word-spacing: 3px;
}
.page{
    height:50vh;
}
.image{
   border: 40px;
    border-radius: 50%;
    padding : 10px; 
}